body {
  width: 200px;
  height: 300px;
}

#title {
  width: 200px;
  height: 50px;
  padding-top: 1px;
  background-color: skyblue;
  text-align: center;
}

#popup {
  width: 200px;
  height: 250px;
  text-align: center;
}

button {
  font-size:20px;
  width:150px;
  height:40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: 1px solid skyblue;
  background-color: rgba(0,0,0,0);
  color: skyblue;
  padding: 5px;
}

button:hover {
  color:white;
  background-color: skyblue;
}