body {
  background-image: url("../../images/signin-bg.png");
}

.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 600px;
  background: white;
  margin: -300px 0 0 -250px;
  box-shadow: 5px 5px 5px 5px #fbb93a;
}

.layer_agree {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 700px;
  background: white;
  margin: -350px 0 0 -500px;
  box-shadow: 5px 5px 5px 5px #fbb93a;
}

.img1 {
  width: 150px;
  margin: 40px 0 0 175px;
}

.img2 {
  width: 300px;
  margin: 20px 0 0 100px;
}

.google_btn {
  margin: 40px 0 0 100px;
}

.info {
  width: 300px;
  height: 40px;
  margin: 40px 0 0 100px;
  font-size: 20px;
}

.signup_btn {
  width: 300px;
  height: 40px;
  font-size: 20px;
  position: relative;
  left: 50%;
  margin: 0 0 0 -150px;
  color: white;
  border: 2px solid #fbb93a;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  background-color: #fbb93a;
}

.text_css {
  overflow: scroll;
  width: 900px;
  height: 200px;
  margin-top: 10px;
  margin-left: 50px;
  border: 3px solid gold;
}

.agree_title {
  font-size: 25px;
  text-align: center;
}

.agree_box {
  padding-top: 10px;
  text-align: right;
  padding-right: 50px;
}

.enter_btn {
  margin-left: 5px;
  margin-top: 17px;
  padding-top: 5px;
  padding-left: 0px;
  width: 100px;
  height: 40px;
  color: #fbb93a;
  border: 2px solid #fbb93a;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
}

#logo {
  width: 240px;
  height: 44px;
  cursor: pointer;
}

#header {
  padding-top: 62px;
  padding-bottom: 20px;
  text-align: center;
}
#wrapper {
  position: relative;
  height: 100%;
}

#content {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 460px;
}

/* 입력폼 */

h3 {
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}

.box {
  display: block;
  width: 100%;
  height: 51px;
  border: solid 1px #dadada;
  padding: 10px 14px 10px 14px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
}

.int {
  display: block;
  position: relative;
  width: 100%;
  height: 29px;
  border: none;
  background: #fff;
  font-size: 15px;
}

input {
  font-family: Dotum, "돋움", Helvetica, sans-serif;
}

.box.int_id {
  padding-right: 110px;
}

.box.int_pass {
  padding-right: 40px;
}

.box.int_pass_check {
  padding-right: 40px;
}

.step_url {
  position: absolute;
  top: 16px;
  font-size: 18px;
  color: black;
}

.pswdImg {
  width: 18px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -10px;
  cursor: pointer;
}

#bir_wrap {
  display: table;
  width: 100%;
}

#bir_yy {
  display: table-cell;
  width: 147px;
}

#bir_mm {
  display: table-cell;
  width: 147px;
  vertical-align: middle;
}

#bir_dd {
  display: table-cell;
  width: 147px;
}

#bir_mm,
#bir_dd {
  padding-left: 10px;
}

select {
  width: 100%;
  height: 29px;
  font-size: 15px;
  background: #fff
    url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50%
    no-repeat;
  background-size: 20px 8px;
  -webkit-appearance: none;
  display: inline-block;
  text-align: start;
  border: none;
  cursor: default;
  font-family: Dotum, "돋움", Helvetica, sans-serif;
}

.error_next_box {
  margin-top: 9px;
  font-size: 12px;
  color: red;
  display: none;
}

#alertTxt {
  position: absolute;
  top: 19px;
  right: 38px;
  font-size: 12px;
  color: red;
  display: none;
}

.btn_area {
  margin: 30px 0 91px;
}

#btnJoin {
  width: 100%;
  padding: 21px 0 17px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: #fbb93a;
  font-size: 20px;
  font-weight: 400;
  font-family: Dotum, "돋움", Helvetica, sans-serif;
}
